@page "/ProductSelect"
@using AztecTariff.Models;
@using AztecTariff.Services;
@using AztecTariff.Shared;
@using AztecTariffModels.Models;
@using Microsoft.EntityFrameworkCore;
@using Telerik.FontIcons;

@inject Settings settings
@inject NavigationManager nav
@inject TariffDatabaseContext dbContext
@inject ProductService productService
@inject CategoryService categoryService
@inherits BasePageClass


@if (isLoading)
{
    <LoadingOverlayComponent></LoadingOverlayComponent>
}

<div class="wrapper" style="height:100%">
    <div class="position-absolute  bottom-0 end-0 m-4">
        <button class="btn btn-primary" style="border-radius:10px;" @onclick="SaveClicked"> <TelerikFontIcon Icon="FontIcon.Save"></TelerikFontIcon> </button>
    </div>

    @*Toast*@
    <div class="position-absolute bottom-0 end-0">
        <Toast @ref="Toast"></Toast>
    </div>

    <div class="container-fluid p-0" style="height:100%;">
        <div class="row m-0" style="height:100%;">

            @*Categories*@
            <TelerikGrid class="col m-0 p-0" Data="@Categories"
                         SelectionMode="GridSelectionMode.Single"
                         Pageable="false"
                         OnUpdate="CategoryUpdated"
            @ref="@CategoryGridRef"
                         EditMode="@GridEditMode.Popup"
                         SelectedItemsChanged="@((IEnumerable<FullCategory> Headings) => OnHeadingSelect(Headings))">

                <GridColumns>
                    <GridColumn Width="80%">
                        <Template>
                            @{
                                var b = (FullCategory)context;

                                <div class="row ">

                                    <div style="cursor:pointer;" @onclick="@(() => EditCategory(b, b.Id))" class="m-auto p-0 col d-flex justify-content-center">
                                        <TelerikFontIcon class="m-auto" Icon="@FontIcon.Pencil"></TelerikFontIcon>
                                    </div>

                                    <p style="cursor:pointer;" class="col-10 my-auto px-0">@b.TariffCategory</p>

                                </div>
                            }

                        </Template>
                        <EditorTemplate>
                            @{
                                var b = (FullCategory)context;
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="d-flex flex-row my-1">
                                        <i class="mx-auto">
                                            <p class="my-auto mx-1">@b.CategoryName</p>
                                        </i>
                                    </div>
                                    <TelerikTextBox @bind-Value="@b.TariffCategory" />
                                </div>
                            }
                        </EditorTemplate>
                        <HeaderTemplate>

                            Categories

                        </HeaderTemplate>
                    </GridColumn>

                    <GridColumn Width="30%">
                        <Template>
                            @{
                                var b = (FullCategory)context;
                                <div class="d-flex justify-content-center">

                                    @if (b.AllSelected)
                                    {
                                        <input class="form-check-input bg-primary" @bind="b.AllSelected" @onclick="() => {CategoryCheckboxClicked(b);}" type="checkbox" />
                                    }
                                    else
                                    {
                                        <input class="form-check-input bg-primary" @bind="b.AllSelected" @onclick="() => {CategoryCheckboxClicked(b);}" type="checkbox" />
                                    }
                                </div>
                            }
                        </Template>
                        <HeaderTemplate>
                            <div class="d-flex justify-content-center">
                                <input class="form-check-input bg-primary" @bind="@AllSelected" @onclick="() => {SelectAll();}" type="checkbox" />
                            </div>
                        </HeaderTemplate>

                    </GridColumn>
                </GridColumns>
            </TelerikGrid>

            @*Products*@
            <TelerikGrid class="col m-0 p-0"
                         SelectionMode="GridSelectionMode.Multiple"
                         Pageable="false"
            @ref="@ProductGridRef"
                         Data="SelectedCategory.Products"
                         EditMode="@GridEditMode.Popup"
                         OnUpdate="ProductUpdated"
                         SelectedItems="SelectedProducts">
                <GridColumns>

                    @*Edit*@
                    <GridColumn Width="80%">
                        <Template>
                            @{
                                var b = (FullProduct)context;

                                <div class="row ">

                                    <div style="cursor:pointer;" @onclick="@(() => EditProduct(b))" class="m-auto p-0 col d-flex justify-content-center">
                                        <TelerikFontIcon class="m-auto" Icon="@FontIcon.Pencil"></TelerikFontIcon>
                                    </div>

                                    <p style="cursor:pointer;" class="col-10 my-auto px-0">@b.ProductTariffName</p>

                                </div>
                            }

                        </Template>
                        <EditorTemplate>
                            @{
                                var b = (FullProduct)context;
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="d-flex flex-column my-1 justify-content-around">
                                        <i class="mx-auto"><p class="mx-auto">@b.ProductId</p></i>
                                        <i class="mx-auto"><p class="mx-auto mx-1">@b.ProdName</p></i>
                                    </div>
                                    <TelerikTextBox @bind-Value="@b.ProductTariffName" />
                                </div>
                            }
                        </EditorTemplate>
                        <HeaderTemplate>

                            Products

                        </HeaderTemplate>
                    </GridColumn>

                    @*Checkbox*@
                    <GridColumn>
                        <Template>
                            <div class="d-flex justify-content-center">
                                @{
                                    var b = (FullProduct)context;

                                    @if (b.Included)
                                    {
                                        <input class="form-check-input bg-primary" @bind="b.Included" @onclick="() => {ProductCheckboxClicked(b);}" type="checkbox" />
                                    }
                                    else
                                    {
                                        <input class="form-check-input" @bind="b.Included" @onclick="() => {ProductCheckboxClicked(b);}" type="checkbox" />
                                    }
                                }
                            </div>
                        </Template>
                    </GridColumn>

                </GridColumns>
            </TelerikGrid>

            @*Selection*@
            <div class="col m-0 p-0 ">
                <table class="m-0 p-0 k-grid-header-table k-table k-table-md slideInUp bg-light">
                    <thead class="k-table-thead">
                        <tr class="k-table-row">
                            <th class="k-header k-touch-action-none k-table-th ">
                                Selected Products
                            </th>
                        </tr>
                    </thead>
                    <tbody class="k-table-tbody">
                        @{
                            rowCount = 0;
                        }
                        @foreach (var cd in Categories)
                        {
                            <tr class="k-master-row @((rowCount++ % 2 ==0) ? "bg-primary text-light" : "bg-primary-alt text-light")">
                                <td class="k-table-td col-8 d-flex flex-row">
                                    <div @onclick="@(() => CategoryClicked(cd))" class="k-table-td col" style="cursor:pointer;">
                                        @if (OpenHeadings.Contains(cd))
                                        {
                                            <TelerikFontIcon class="openchevron" Icon="@FontIcon.ChevronUp"></TelerikFontIcon>
                                        }
                                        else
                                        {
                                            <TelerikFontIcon class="closedchevron" Icon="@FontIcon.ChevronUp"></TelerikFontIcon>
                                        }
                                    </div>
                                    <span class="m-auto px-1 col-9">@cd.TariffCategory</span>
                                </td>
                                <td class="k-table-td col">@cd.Products.Where(p => p.Included).Count() / @cd.Products.Count()</td>
                            </tr>
                            @if (OpenHeadings.Contains(cd))
                            {
                                @foreach (var p in cd.IncludedProducts)
                                {
                                    <tr class="k-master-row @((rowCount++ % 2 ==0) ? "k-alt k-table-alt-row" : "k-table-row")">
                                        <td class="k-table-td col-3">@p.ProdName</td>
                                        <td class="k-table-td col-9">@p.ProductTariffName</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


