@page "/Settings"
@using AztecTariff.Models;
@using System.Xml.Serialization;
@using AztecTariff.Services;
@using Telerik.FontIcons;
@using AztecTariff.Shared

@inject Settings settings
@inject NavigationManager nav
@inject SalesAreaService saService
@inject PricingService pricingService
@inject ProductService productService


@if (isLoading)
{
    <LoadingOverlayComponent></LoadingOverlayComponent>
}

<div class="position-absolute  bottom-0 end-0 m-4">
    <button class="btn btn-primary" style="border-radius:10px;" onclick="@SaveSettingsToXML"> <TelerikFontIcon Icon="FontIcon.Save"></TelerikFontIcon> </button>
</div>

<div class="position-absolute bottom-0 end-0">
    
    <Toast @ref="Toast"></Toast>
    
    
</div>

<div class="p-2 h-100 d-flex justify-content-center align-items-center">
    <div class="mybs" style="height:95%;width:95%;border-radius:10px;">
        <div class="m-5">
            <div class="row">
                <h3 class="heading">Settings</h3>
            </div>
            <div class="d-flex flex-row justify-content-around">
                <div class="w-100">
                    <div class="my-3 mx-2 w-90 border p-2 border-primary" style="border-radius:3px;">
                        <div class="row my-2">
                            <div class="subheading">
                                Folder Settings
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <p class="settings-label">Template Folder:</p>
                            </div>
                            <div class="col-9">
                                <TelerikTextBox @bind-Value="@settings.TemplateFolderLocation" />
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <p class="settings-label">Word File Location:</p>
                            </div>
                            <div class="col-9">
                                <TelerikTextBox @bind-Value="@settings.WordFileLocation" />
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <label>Libre Location:</label>
                            </div>
                            <div class="col-9">
                                <TelerikTextBox @bind-Value="@settings.LibreLocation" />
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <label>CSV Location:</label>
                            </div>
                            <div class="col-9">
                                <TelerikTextBox @bind-Value="@settings.CSVFileLocation" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50">
                    <div class="my-3 mx-2 w-90 p-2 border border-primary" style="border-radius:3px;">
                        <div class="row my-2">
                            <div class="col">
                                <div class="subheading">PDF Settings</div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <p class="settings-label">Footer Message:</p>
                            </div>
                            <div class="col">
                                <TelerikTextBox />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50">
                    <div class="my-3 mx-2 w-90 p-2 border border-primary" style="border-radius:3px;">
                        <div class="row my-2">
                            <div class="col">
                                <div class="subheading">API Settings</div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <p class="settings-label">API Base Address:</p>
                            </div>
                            <div class="col">
                                <TelerikTextBox @bind-Value="@settings.APIBaseAddress" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@code {
    //Settings settings;
    bool isLoading;
    Toast Toast;
    public async void SaveSettingsToXML()
    {

        if (settings.IsValid())
        {
            try
            {
                XmlSerializer serializer = new XmlSerializer(typeof(Settings));
                using (StreamWriter writer = new StreamWriter("settings.xml"))
                {
                    serializer.Serialize(writer, settings);
                }


                Console.WriteLine($"Settings saved to {"settings.xml"}");
                nav.NavigateTo("/Settings");

                await RepopulateDatabase();
                await Toast.DisplayMessage("Saved Settings", "bg-green");

            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error saving settings: {ex.Message}");
                nav.NavigateTo("/Settings");
                await Toast.DisplayMessage("Failed To Save Settings", "bg-red");

            }
        }
        else
        {
            Console.WriteLine("Womp womp");
            nav.NavigateTo("/Settings");
            await Toast.DisplayMessage("Invalid Settings", "bg-red");
        }

    }

    async Task RepopulateDatabase()
    {
        await saService.PopulateSalesAreaTable();
        await productService.PopulateProductsTable();
        await pricingService.PopulatePricingsTable();
    }
}


