@page "/SiteTariff"
@using AztecTariff.Data;
@using AztecTariff.Models;
@using AztecTariff.Services;
@using Microsoft.EntityFrameworkCore;
@using Telerik.FontIcons;
@inject IDbContextFactory<ApplicationDBContext> DbFactory
@inherits BasePageClass

@if (isLoading)
{
    <LoadingOverlayComponent></LoadingOverlayComponent>
}

<div class="container-fluid" style="height:100%">
    @*Toast*@
    <div class="position-absolute bottom-0 end-0">
    <Toast @ref="Toast"></Toast>
    </div>

    <div class="row p-0" style="height:100vh">

        @*List of Sites*@
        <TelerikGrid class="col p-0" Data="@Sites" @ref="SiteGrid"
                     SelectionMode="GridSelectionMode.None"
                     Pageable="false"
                     EditMode="GridEditMode.Popup"
                     OnRowDrop="@((GridRowDropEventArgs<FullSite> args) => SiteMoved(args))">


            <RowTemplate Context="site">
                <td class="k-table-td row">
                    <div class="row p-2">
                        @if (SelectedSites.Contains(site))
                        {
                            <div @onclick="@(() => SiteChevronClicked(site))" class="col" style="cursor:pointer;">
                                <TelerikFontIcon class="openchevron" Icon="@FontIcon.ChevronUp"></TelerikFontIcon>
                            </div>
                        }
                        else
                        {
                            <div @onclick="@(() => SiteChevronClicked(site))" class="col" style="cursor:pointer;">
                                <TelerikFontIcon class="closedchevron" Icon="@FontIcon.ChevronUp"></TelerikFontIcon>
                            </div>
                        }

                        <span class="col-10">@site.SiteName</span>
                    </div>
                    @{
                        subRowCount = 0;
                    }
                    @if (SelectedSites.Contains(site))
                    {





                        <TelerikGrid class="col p-0 grid-no-scroll" Data="@site.SalesAreas" @ref="SAGrid"
                                     SelectionMode="GridSelectionMode.None"
                                     EditMode="GridEditMode.Popup"
                                     Pageable="false"
                                     Context="context">
                                     
                            <GridSettings >
                                <GridPopupEditSettings MaxHeight="95vh" MaxWidth="95vw"></GridPopupEditSettings>
                                <GridPopupEditFormSettings ColumnSpacing="20px" Orientation="@FormOrientation.Horizontal" Columns="2" >
                                    <FormTemplate>
                                    @{
                                            EditSA = context.Item as FullSalesArea;
                                            <TelerikForm Model="@EditSA" OnValidSubmit="@OnValidSubmit">
                                                <FormItems>
                                                    <FormItem Field="TariffName" LabelText="Tariff Name"></FormItem>
                                                    <FormItem Field="FooterMessage" LabelText="Footer Message"></FormItem>
                                                </FormItems>
                                                <FormButtons>
                                                    <TelerikButton Icon="@nameof(FontIcon.Save)" OnClick="SaveSalesArea">Save</TelerikButton>
                                                    <TelerikButton Icon="@nameof(FontIcon.Cancel)" ButtonType="@ButtonType.Button">Cancel</TelerikButton>
                                                </FormButtons>
                                            </TelerikForm>
                                        }
                                    </FormTemplate>
                                </GridPopupEditFormSettings>
                            </GridSettings>

                            <RowTemplate>
                                @{
                                var b = (FullSalesArea)context;
                                <Animate Animation=Animations.SlideDown>
                                    <div class="row w-100">
                                        <div style="cursor:pointer;" class="m-auto p-0 col d-flex justify-content-center align-items-center" @onclick="@(() => EditSalesArea(b))">
                                            <TelerikFontIcon class="m-auto" Icon="@FontIcon.Pencil"></TelerikFontIcon>
                                        </div>
                                        <span class="col-5" style="font-size: 14px;" @onclick="@(() => SalesAreaSelected(b))">@b.SalesAreaName</span>
                                        <span class="col-5" style="font-size: 14px;" @onclick="@(() => SalesAreaSelected(b))">@b.TariffName</span>
                                    </div>
                                </Animate>
                                }
                            </RowTemplate>
                        </TelerikGrid>
                    }
                </td>
            </RowTemplate>
            <GridColumns>
                <GridColumn Field="Name" Title="Site" />
            </GridColumns>
        </TelerikGrid>



        @*List by cats*@
        <TelerikGrid class="col p-0" Data="SelectedSalesArea.Categories" @ref="CatGrid"
                     SelectionMode="GridSelectionMode.None"
                     Pageable="false"
                     RowDraggable="true"
                     OnRowDrop="@((GridRowDropEventArgs<FullCategory> args) => CategoryMoved(args))"
                     EditMode="@GridEditMode.Popup">
            <RowTemplate Context="category">
                <td class="k-table-td row ">
                    <div class="row p-2">
                        @if (SelectedCategories.Contains(category))
                        {
                            <div class="col" style="cursor:pointer;" @onclick="@(() => CategoryChevronClicked(category))">
                                <TelerikFontIcon class="openchevron" Icon="@FontIcon.ChevronUp"></TelerikFontIcon>
                            </div>
                        }
                        else
                        {
                            <div class="col" style="cursor:pointer;" @onclick="@(() => CategoryChevronClicked(category))">
                                <TelerikFontIcon class="closedchevron" Icon="@FontIcon.ChevronUp"></TelerikFontIcon>
                            </div>
                        }

                        <span class="col-10">@category.TariffCategory</span>
                        @if (category.Products.Count != 0)
                        {
                            <input class="col" @bind="@category.AllSelected" type="checkbox" style="height:15px;" @onclick="@(() => CategoryCheckboxClicked(category))" />
                        }
                        else
                        {
                            <input class="col" @bind="@category.AllSelected" type="checkbox" style="height:15px;" disabled />
                        }
                    </div>
                    @{
                        subRowCount = 0;
                    }
                    @if (SelectedCategories.Contains(category))
                    {
                        //if empty, show empty message
                        //Change to Telerikgrid to use built in Edit


                        <TelerikGrid class="col p-0 grid-no-scroll" Data="category.IncludedProducts" @ref="ProdGrid"
                                     SelectionMode="GridSelectionMode.None"
                                     Pageable="false"
                                     RowDraggable="true"
                                     EditMode="@GridEditMode.Popup"
                                     OnRowDrop="@((GridRowDropEventArgs<FullProduct> args) => ProductMoved(args))">

                            <GridSettings>
                                <GridPopupEditSettings MaxHeight="95vh" MaxWidth="95vw"></GridPopupEditSettings>
                                <GridPopupEditFormSettings ColumnSpacing="20px" Orientation="@FormOrientation.Horizontal" Columns="2">
                                    <FormTemplate>
                                        @{
                                            EditFullProduct = context.Item as FullProduct;

                                            <TelerikForm Model="@EditFullProduct" OnValidSubmit="@OnValidSubmit">
                                                <FormItems>
                                                    <div class="d-flex align-items-center justify-content-center"><i>@EditFullProduct.ProdName</i></div>
                                                    <FormItem Field="Price" LabelText="Price"></FormItem>
                                                </FormItems>
                                                <FormButtons>
                                                    <TelerikButton Icon="@nameof(FontIcon.Save)" OnClick="SaveProduct">Save</TelerikButton>
                                                    <TelerikButton Icon="@nameof(FontIcon.Cancel)" OnClick="CancelEditProduct" ButtonType="@ButtonType.Button">Cancel</TelerikButton>
                                                </FormButtons>
                                            </TelerikForm>
                                        }
                                    </FormTemplate>
                                </GridPopupEditFormSettings>
                            </GridSettings>
                            <GridColumns>
                                <GridColumn>
                                    <Template>
                                        @{
                                            var b = (FullProduct)context;

                                            <div class="row ">

                                                <div style="cursor:pointer;" @onclick="@(() => EditProduct(b))" class="m-auto p-0 col d-flex justify-content-center align-items-center">
                                                    <TelerikFontIcon class="m-auto" Icon="@FontIcon.Pencil"></TelerikFontIcon>
                                                </div>
                                                <div class="m-auto p-0 col d-flex justify-content-center align-items-ceter">
                                                    <p class="m-auto">@b.ProductTariffName</p>
                                                </div>
                                                <div class="m-auto p-0 col d-flex justify-content-center align-items-ceter">
                                                    <p class="m-auto">£@b.Price.ToString("0.00")</p>
                                                </div>
                                                <div class="m-auto p-0 col d-flex justify-content-center align-items-ceter">
                                                    <input class="col m-auto" @bind="b.Included" type="checkbox" style="height:15px;" @onclick="@(() => ProductCheckboxClicked(b))" />
                                                </div>

                                            </div>
                                        }

                                    </Template>
                                </GridColumn>
                            </GridColumns>
                        </TelerikGrid>
                    }
                </td>
            </RowTemplate>
            <GridColumns>
                <GridColumn Title="Categories" />
            </GridColumns>
        </TelerikGrid>


        @*PDF Viewer*@
        <TelerikPdfViewer class="col p-0 pdfviewer"
                          Zoom=1m
                          Data="@PdfSource">
            <PdfViewerToolBar>

                <PdfViewerToolBarSeparator />

                <PdfViewerToolBarDownloadTool />
                <PdfViewerToolBarPrintTool />


                <PdfViewerToolBarSpacer />

                <PdfViewerToolBarZoomTool />
                <PdfViewerToolBarSelectionTool />
                <PdfViewerToolBarSearchTool />

                <PdfViewerToolBarCustomTool>
                    <label>Include ABV</label>
                    <TelerikCheckBox @bind-Value="@includeAbv" OnChange="IncludeABVChanged"></TelerikCheckBox>
                </PdfViewerToolBarCustomTool>

                <PdfViewerToolBarCustomTool>
                    <label>Template Options</label>
                    <TelerikDropDownList OnChange="@TemplateChanged" Data="@templateChoices" @bind-Value="selectedTemplate">
                    </TelerikDropDownList>
                </PdfViewerToolBarCustomTool>

            </PdfViewerToolBar>
        </TelerikPdfViewer>
    </div>
</div>

